<div class="card">
	<div class="card-header bg-white">
		<h4 class="card-title text-center">{{ character?.name }}</h4>
	</div>
	<img class="card-img-top" [src]="character.image" [alt]="character.name" >
	<div class="card-body">
		<p class="card-text">
			<strong>Status: </strong><span [ngClass]="{
        'text-success': character.status === 'Alive',
        'text-danger': character.status === 'Dead',
        'text-dark': character.status === 'unknown'
      }">{{ character?.status }}</span>
		</p>
		<p class="card-text">
			<strong>Specie: </strong>{{ character?.species }}</p>
		<p class="card-text">
			<strong>Origin: </strong>{{ character?.origin?.name}}
		</p>
		<p class="card-text">
			<strong>Location: </strong> {{ character?.location?.name}}
		</p>
	</div>
</div>